altgraph==0.17.4
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
ifaddr==0.2.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
numpy==1.26.4
openhab-pythonrule-engine==1.2.28
packaging==24.0
ply==3.11
pycron==3.0.0
pyee==11.1.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
referencing==0.35.1
requests==2.31.0
rpds-py==0.18.1
rule-engine==4.4.0
six==1.16.0
sseclient-py==1.8.0
tornado==6.4
typing_extensions==4.11.0
urllib3==2.2.1
watchdog==4.0.0
webthing==0.15.0
zeroconf==0.132.2
